:root {
  --color-red           :     #cd202c;
  --color-blue          :     #0064a8;
  --color-blue-tropical :     #bddef5;
  --color-gray-tundora  :     #333333;
  --color-gray-dark     :     #4e4e4e;
  --color-gray          :     #929292;
  --color-gray-alto     :     #cccccc;
  --color-gray-mercury  :     #e8e8e8;
}
