@import "base/var";

@import "layout/head";

.main1 {
    display: flex;

    transition: background 1s;
};

.main1 { background: color(red alpha(-10%)); }

.main1 {  @if 3 < 5 { background: green; }
    @else { background: blue; }
};