.autoprefixer2 {
    display: flex;

    transition: background 1s;
};

.cssnext2 { background: color(red alpha(-10%)); }

.precss2 {  @if 3 < 5 { background: green; }
    @else { background: blue; }
};